<section class="info-seccion">
    {{! PUT HERE THE INFO OF THE PETITON: }}

    <h1>Are you with me?</h1>
    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Est debitis
        quis, eos, excepturi aspernatur animi provident consequuntur quo quia
        temporibus in doloremque accusamus! Tenetur odio facere temporibus,
        impedit nihil corporis!
    </p>
</section>