<section class="info-seccion">
    {{! PUT HERE THE INFO OF THE PETITON: }}

    <h1>Tired of not founfing your favorite product in the supermarket?</h1>
    <p>
        Tired of not founding
    </p>
</section>