<section class="product-section left-section">
    <h1>For this products and MORE!</h1>

    <div class="products-container">
        <div class="product">
            <img src="/img/alfajor_negro.png" />
            <p>Alfajores</p>
        </div>

        <div class="product">
            <img src="/img/cachafaz_conitos.webp" />
            <p>Conitos</p>
        </div>

        <div class="product">
            <img src="/img/DdL_nietitos.png" />
            <p>Dulce de Leche</p>
        </div>

        <div class="product">
            <img src="/img/harina_pan.png" />
            <p>Harina Pan</p>
        </div>

        <div class="product">
            <img src="/img/pionono.jpg" />
            <p>Pionono</p>
        </div>

        <div class="product">
            <img src="/img/tapa_empanadas.jpg" />
            <p>Tapa de Empanadas</p>
        </div>

        <div class="product">
            <img src="/img/vainilla.png" />
            <p>Vainilla</p>
        </div>

        <div class="product">
            <img src="/img/yerba_canarias.webp" />
            <p>Yerbas</p>
        </div>

    </div>

</section>