<section class="configuration-section">

    <div>
        <a href="/configuration/profile"><img src="/img/profile.png" /></a>
        <a class="config-tag" href="/configuration/profile">Profile</a>
    </div>

    {{#if haveSign}}
        <div>
            <a href="/configuration/signature"><img
                    src="/img/signature.webp"
                /></a>
            <a class="config-tag" href="/configuration/signature">Signature</a>
        </div>
    {{/if}}

    <div>
        <a href="/configuration/newpassword"><img src="/img/password.png" /></a>
        <a class="config-tag" href="/configuration/newpassword">New Password</a>
    </div>

    <div>
        <a href="/configuration/deleteAccount"><img
                src="/img/deleteAccount.webp"
            /></a>
        <a class="config-tag" href="/configuration/deleteAccount">Delete Account</a>
    </div>

</section>