<section class="configuration-section">

    <div>
        <a href="/profile"><img src="/img/profile.png" /></a>
        <a class="config-tag" href="/profile">Profile</a>
    </div>

    <div>
        <a href="/signature"><img src="/img/signature.webp" /></a>
        <a class="config-tag" href="/signature">Signature</a>
    </div>

    <div>
        <a href="/newpassword"><img src="/img/password.png" /></a>
        <a class="config-tag" href="/newpassword">New Password</a>
    </div>

    <div>
        <a href="/deleteAccount"><img src="/img/deleteAccount.webp" /></a>
        <a class="config-tag" href="/deleteAccount">Delete Account</a>
    </div>

</section>