{{> information}}

<section class="deleteAccount-section section-container">

    <div class="inside-container config-container">

        <h1>Are you sure that you want to delete your Account?</h1>
        <p>Confirm your Password to DELETE Account.</p>

        {{>message}}


        <form class="form-container config-form" method="post">

            <label for="password">Password</label>
            <input id="password" type="password" name="password" required />

            <div class="buttons-container">
                <button type="submit">Confirm</button>
                 <a href="/configuration " class="cancel-Button likeButton">Cancel</a>
            </div>

        </form>
    </div>

</section>