<section class="deleteAccount-section section-container">

    <form class="form-container" method="post">

        <h3>Are you sure that you want to delete your Account</h3>

        <p>Confirm your Password to DELETE Account.</p>
        <label for="password">Password</label>
        <input id="password" type="password" name="password" required />

        <div class="buttons-container">
            <button type="submit">Confirm</button>
            <a href="/configuration" class="likeButton">Cancel</a>
        </div>

    </form>
</section>