   {{> information}}


<section class="logIn-section">

    <h1>Login</h1>

    <div class="error">
        {{#if error}}
            <p>Oops! an Error has occurred. Please try again</p>
        {{/if}}
    </div>

    <form class="logIn-form form-container"  method="post" action="/petition">

        <label for="email">E-mail</label>
        <input id="email" type="email" name="email" required />

        <label for="email">Password</label>
        <input id="email" type="password" name="email" required />

          <div class="buttons-container">
            <button type="submit">Login</button>
        </div>
    </form>
</section>