{{> products}}


<section class="profile-section section-container">

    <div class="inside-container config-container">

        <h1>Tell us more about you</h1>

            {{>message}}


        <form class="profile-info form-container" method="post">

            <label for="age">Age</label>
            <input id="age" type="number" name="age" />

            <label for="city">City</label>
            <input id="city" type="text" name="city" />

            <label for="profilePage">Profile Page</label>
            <input id="profilePage" type="url" name="profilePage" />

            <div class="buttons-container">
                <button type="submit">Save Changes</button>
                <input type="submit">Skip this</input>


                 {{!-- <a href="/petition">Skip this</a> --}}


            </div>

        </form>

    </div>


</section>