<section class="newPassword-section section-container">

    <form class="form-container" method="post">

        <h3>Change Password</h3>

        <label for="password">NEW Password</label>
        <input id="password" type="password" name="new" required />

        <label for="password">Old Password</label>
        <input id="password" type="password" name="old" required />

        <div class="buttons-container">
            <button type="submit">Confirm</button>
            <a href="/configuration" class="likeButton">Back</a>
        </div>

    </form>
</section>