{{> products}}

<section class="newPassword-section section-container">

    <div class="inside-container config-container">

        <h1>Change Password</h1>

        {{>message}}

        <form class="form-container config-form" method="post">

            <label for="password">NEW Password</label>
            <input id="password" type="password" name="new" required />

            <label for="password">Old Password</label>
            <input id="password" type="password" name="old" required />

            <div class="buttons-container">
                <button type="submit">Confirm</button>
                <a href="/configuration" class="likeButton">Back</a>
            </div>
        </form>
    </div>

</section>