{{> information}}


<section class="petition-section section-container">
    <h1>Sign up our Petition</h1>

       {{>message}}

    <form class="petition-form form-container" method="post" action="/petition">

        <label for="signature-canva" hidden >Signature</label>
        <input id="signature" type="hidden" name="signature" />
        <canvas width="450" height="200" id="signature-canva"></canvas>

        <div class="buttons-container">
            <button type="submit" id="button-submit">Submit</button>
            <button type="button" id="button-reset-canva">Reset Canva</button>
        </div>

    </form>

</section>

<script src="/script.js" type="module"></script>