<section class="petition">
    <h1>Sign up our Petition</h1>

    <div class="error">
        {{#if error}}
            <p>Oops! an Error has occurred. Please try again</p>
        {{/if}}
    </div>
    <form class="petition-form" method="post" action="/petition">
        <label for="name">Name</label>
        <input id="name" type="text" name="name" required />

        <label for="surname">Surname</label>
        <input id="surname" type="text" name="surname" required />

        <label for="signature">Signature</label>
        <input id="signature" type="hidden" name="signature" />

        <canvas width="350" height="100" id="signature-canva"></canvas>

        <div class="buttons-container">
            <button type="submit" id="button-submit">Submit</button>
            <button type="button" id="button-reset-canva">Reset Canva</button>
        </div>

    </form>

</section>

<script src="/script.js"></script>