
<section class="signers-section section-container">
    <h1>List of the singers</h1>

   <ul>
    {{#listOfSigners}}
        <li><p>{{first}} {{last}} </p>
           
            {{#if ../withImage}}
            <img src="{{signature}}" />
            {{/if}}

        </li>

    {{/listOfSigners}}

</ul>

</section>