<section class="signers">
    <h1>List of the singers</h1>

    <ul>
        {{#listOfSigners}}
            <li><p>{{first}} {{last}} </p>
            </li>

        {{/listOfSigners}}

    </ul>
</section>