{{> information}}



<section class="signature-section section-container">

<div class="inside-container config-container">

    {{>message}}

    <form class="form-container" method="post">

        <img src="{{signature}}" />

        <h3>Are you sure that you want to delete your signature?</h3>

        <div class="buttons-container">

            <button type="submit">Confirm</button>
            <a href="/configuration" class="likeButton">Cancel</a>

        </div>

    </form>
</div>

</section>