{{> products}}


<section class="thanks-section section-container">

<div class="inside-container config-container">
    {{#user}}

        <h1>Thank you {{name}} {{surname}}!</h1>
        <br />
        <h2>For signing our petition</h2>

        <img src="{{signature}}" />

    {{/user}}

    <h3>See all <a href="/signers"> {{totalSigners}} Signers </a> </h3>

</div>


</section>