<section class="thanks-section section-container">

    <h1>Thank you for signing our petition!</h1>
    <br />

    {{#user}}

        <p>{{first}} {{last}} </p>
        <img src="{{signature}}" />

    {{/user}}

    <p>See all <a href="/signers"> {{totalSigners}} Signers </a> </p>

</section>